# Ignore platform folders for language stats
android/** linguist-vendored
ios/** linguist-vendored
windows/** linguist-vendored
linux/** linguist-vendored
macos/** linguist-vendored

# Mark Dart as main language
*.dart linguist-language=Dart